* {
  margin: 0;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  padding: 20px 250px;
}

.headerLinks {
  color: #e5e7eb;
  display: flex;
  font-size: 18px;
  gap: 18px;
}

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 100px 300px;
  height: 200px;
  gap: 100px;
}

.heroTitle {
  color: #f9faf8;
  font-size: 40px;
  font-weight: bolder;
}

.heroText {
  color: #e5e7eb;
  font-size: 18px;
  padding-left: 15px;
}

.heroImage {
  padding-right: 100px;
  width: 300px;
  height: 168px;
}

.card {
  display: flex;
  justify-content: center;
  gap: 52px;
  margin-top: 100px;
  margin-bottom: 200px;
}

.img {
  width: 200px;
  height: 200px;
}

.quote {
  background-color: #e5e7eb3f;
  display: flex;
}
