* {
  margin: 0;
}

.header {
  background-color: black;
  color: #f9faf8;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  padding: 20px 350px;
}

.logo {
  width: 200px;
  height: 120px;
}

.headerLinks {
  color: #e5e7eb;
  display: flex;
  font-size: 18px;
  margin-top: 40px;
  margin-right: 50px;
  gap: 70px;
}

.hero {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 100px 300px;
  height: 200px;
  gap: 100px;
}

.heroTitle {
  color: #f9faf8;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  width: 500px;
}

.heroText {
  color: #e5e7eb;
  font-size: 18px;
  padding-left: 15px;
  text-align: center;
  width: 500px;
}

.heroImage {
  padding-right: 100px;
  width: 400px;
  height: 200px;
}

.card {
  display: flex;
  justify-content: center;
  gap: 52px;
  margin-top: 100px;
  margin-bottom: 200px;
}

.cardInfo {
  color: black;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  padding-top: 70px;
}

.cardImage {
  width: 200px;
  height: 200px;
}

.cardSubText {
  color: black;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  width: 180px;
}

.quote {
  
}
